.servicios {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;

    &__titulo {
        font-size: 2rem;
        margin-bottom: 30px;
        color: #333;
    }

    &__contenedor {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
    }

    .servicio {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        box-sizing: border-box;

        &__imagen {
            width: 100%;
            height: auto;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        &__titulo {
            font-size: 1.5rem;
            color: #3e7aeb;
            margin-bottom: 10px;
        }

        &__descripcion {
            font-size: 1rem;
            color: #666;
            line-height: 1.5;
        }
    }
}

//aplicacion de bootstrap para servicios.scss//
@media (max-width: 780px) {
    .servicios__contenedor {
        flex-direction: column;
        align-items: center;
    }

    .servicio {
        width: 100%;
        margin-bottom: 20px;
    }
}
