@import "~@fontsource/montserrat";

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    color: $text-color;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $primary-color;
}
